//============== VARIABLES ==============//
$black = #231f20
$sky = #00abe3
$red = #cd3833
$white = #fff
$green = #76bd43
$text = #6d6e71
$yellow = #e4a61b
$blue = #295dab
$bg-body = #fff

$border = #e6e7e8
$border-focus = #494949

