<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Выборка</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <script src="../scripts/modernizr.js"></script>
</head>
<body>
    //= modules/modals.html
    <div class="container">
        <div class="main">
            //= modules/m_header-logged.html
            <div class="m_filters">
                <div class="m_lead-filters">
                    //= modules/m_filters-main.html
                    <div class="m_filters-results">
                        <div class="filters-results-title">Прайс-лист</div>
                    </div>
                </div>
                //= modules/m_lead-sidebar.html
            </div>
        </div>
        //= modules/m_footer.html
    </div>

    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</body>
</html>