.m_datepicker
  background #f4f4f4
  border 1px solid #e6e7e8
  border-radius 5px
  text-align center
  width 250px
  display none
  position absolute
  z-index 10
  left 50%
  margin-left -(@width/2)
  top 35px
  box-shadow 2px 2px 2px -2px rgba(0,0,0,.15)
  .header
    clearfix()
    height 30px
    line-height 30px
    border-bottom 1px solid #e6e7e8
    .prev, .next
      display block
      position relative
      width 30px
      height 30px
    .prev
      float left
      &:after
        content ''
        position absolute
        top 50%
        left 50%
        margin-left -5px
        margin-top -5px
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 10px 5px 0;
        border-color: transparent #007bff transparent transparent;
    .next
      float right
      &:after
        content ''
        position absolute
        top 50%
        left 50%
        margin-left -5px
        margin-top -5px
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #007bff;
    .current-year
      width 186px
      font-weight bold
      float left
  .body
    clearfix()
    .quarter
      float left
      width 25%
      border 1px solid #e6e7e8
      cursor pointer
      font-size 14px
      padding-top 5px
      padding-bottom 5px
      &:hover
        background #fff

