<div class="m_filters-main">
    <form>
        <div class="columns-1">
            <div class="col">
                <select data-vd="single-search" placeholder="Поиск" class="search-box">
                    <option value=""></option>
                    <option value="ЖК «Аврора»">ЖК «Аврора»</option>
                    <option value="м. Проспект большевиков">м. Проспект большевиков</option>
                    <option value="Коллонтай">ул. Коллонтай</option>
                    <option value="Вена">Вена</option>
                    <option value="Вернисаж">Вернисаж</option>
                    <option value="Весна">Весна</option>
                    <option value="Весна 2">Весна 2</option>
                    <option value="Весна 3">Весна 3</option>
                    <option value="Витамин">Витамин</option>
                    <option value="Времена года">Времена года</option>
                    <option value="Высота">Высота</option>
                </select>
            </div>
        </div>
        <div class="columns-6">
            <div class="col">
                <select class="search-box" name="filters-locate" data-vd="single-select" placeholder="Район" multiple="multiple">
                    <option value="Адмиралтейский">Адмиралтейский</option>
                    <option value="Василеостровский">Василеостровский</option>
                    <option value="Василеостровский">Василеостровский</option>
                    <option value="Выборгский">Выборгский</option>
                    <option value="Калиниский">Калиниский</option>
                    <option value="Кировский">Кировский</option>
                    <option value="Колпинский">Колпинский</option>
                    <option value="Красногвардейский">Красногвардейский</option>
                    <option value="Красносельский">Красносельский</option>
                    <option value="Курортный">Курортный</option>
                    <option value="Московский">Московский</option>
                    <option value="Невский">Невский</option>
                    <option value="Петроградский">Петроградский</option>
                    <option value="Петродврцовый">Петродврцовый</option>
                    <option value="Приморский">Приморский</option>
                    <option value="Пушкинский">Пушкинский</option>
                    <option value="Фрунзенский">Фрунзенский</option>
                    <option value="Центральный">Центральный</option>
                </select>
            </div>
            <div class="col">
                <select class="search-box" name="filters-subway" data-vd="single-select" placeholder="Метро" multiple="multiple">
                    <option value="Автово">Автово</option>
                    <option value="Адмиралтейская">Адмиралтейская</option>
                    <option value="Академическая">Академическая</option>
                    <option value="Балтийская">Балтийская</option>
                    <option value="Бухарестская">Бухарестская</option>
                    <option value="Василеостровская">Василеостровская</option>
                    <option value="Владимирская">Владимирская</option>
                    <option value="Волковская">Волковская</option>
                    <option value="Гостиный двор">Гостиный двор</option>
                    <option value="Горьковская">Горьковская</option>
                    <option value="Гражданский проспект">Гражданский проспект</option>
                    <option value="Девяткино">Девяткино</option>
                    <option value="Достоевская">Достоевская</option>
                    <option value="Елизаровская">Елизаровская</option>
                    <option value="Звездная">Звездная</option>
                    <option value="Звенигородская">Звенигородская</option>
                    <option value="Кировский завод">Кировский завод</option>
                    <option value="Комендантский Проспект">Комендантский Проспект</option>
                    <option value="Купчино">Купчино</option>
                    <option value="Крестовский остров">Крестовский остров</option>
                    <option value="Ладожская">Ладожская</option>
                    <option value="Ленинский проспект">Ленинский проспект</option>
                    <option value="Лиговский Проспект">Лиговский Проспект</option>
                    <option value="Ломоносовская">Ломоносовская</option>
                    <option value="Маяковская">Маяковская</option>
                    <option value="Московские ворота">Московские ворота</option>
                    <option value="Нарвская">Нарвская</option>
                    <option value="Невский проспект">Невский проспект</option>
                    <option value="Новочеркасская">Новочеркасская</option>
                    <option value="Обводный канал">Обводный канал</option>
                    <option value="Обухово">Обухово</option>
                    <option value="Озерки">Озерки</option>
                    <option value="Парк Победы">Парк Победы</option>
                    <option value="Парнас">Парнас</option>
                    <option value="Петроградская">Петроградская</option>
                    <option value="Пионерская">Пионерская</option>
                    <option value="Площадь Александра Невского 1 ">Площадь Александра Невского 1 </option>
                    <option value="Площадь Александра Невского 2">Площадь Александра Невского 2</option>
                    <option value="Площадь Восстания">Площадь Восстания</option>
                    <option value="Площадь Мужества">Площадь Мужества</option>
                    <option value="Политехническая">Политехническая</option>
                    <option value="Приморская">Приморская</option>
                    <option value="Пролетериатская">Пролетериатская</option>
                    <option value="Проспект Большевиков">Проспект Большевиков</option>
                    <option value="Проспект Ветеранов">Проспект Ветеранов</option>
                    <option value="Проспект Просвещения">Проспект Просвещения</option>
                    <option value="Пушкинская">Пушкинская</option>
                    <option value="Рыбацкая">Рыбацкая</option>
                    <option value="Садовая">Садовая</option>
                    <option value="Сенная площадь">Сенная площадь</option>
                    <option value="Спасская">Спасская</option>
                    <option value="Спортивная">Спортивная</option>
                    <option value="Старая Деревня">Старая Деревня</option>
                    <option value="Удельная">Удельная</option>
                    <option value="Улица Дыбенко">Улица Дыбенко</option>
                    <option value="Технологический Институт 1">Технологический Институт 1</option>
                    <option value="Технологический Институт 2">Технологический Институт 2</option>
                    <option value="Фрунзенская">Фрунзенская</option>
                    <option value="Черная речка">Черная речка</option>
                    <option value="Чкаловская">Чкаловская</option>
                    <option value="Чернышевская">Чернышевская</option>
                    <option value="Электросила">Электросила</option>
                </select>
            </div>
            <div class="col">
                <div class="filter-button">
                    <a href="#" class="datepicker-init">Срок сдачи</a>
                </div>
                <div class="m_datepicker">
                    <div class="header">
                        <a href="#" class="prev"></a>
                        <div class="current-year">2016</div>
                        <a href="#" class="next"></a>
                    </div>
                    <div class="body">
                        <div class="quarter">
                            <span>1<br> квартал</span>
                        </div>
                        <div class="quarter">
                            <span>2<br> квартал</span>
                        </div>
                        <div class="quarter">
                            <span>3<br> квартал</span>
                        </div>
                        <div class="quarter">
                            <span>4<br> квартал</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <select class="search-box" name="filters-pay" data-vd="single-select" placeholder="Способ оплаты" multiple="multiple">
                    <option value="Ипотека">Ипотека</option>
                    <option value="Субсидия">Субсидия</option>
                    <option value="Рассрочка">Рассрочка</option>
                    <option value="Военная ипотека">Военная ипотека</option>
                    <option value="Мат. капитал">Мат. капитал</option>
                </select>
            </div>
            <div class="col">
                <select class="search-box" name="filters-pay" data-vd="single-select" placeholder="Отделка">
                    <option value=""></option>
                    <option value="Отделка">Отделка</option>
                    <option value="Без отделки">Без отделки</option>
                    <option value="Чистовая">Чистовая</option>
                    <option value="Подчистовая">Подчистовая</option>
                    <option value="С мебелью">С мебелью</option>
                </select>
            </div>
            <div class="col right-select-wrap">
                <select class="search-box" data-vd="single-search" placeholder="Выбор ЖК" multiple="multiple">
                    <option value="84 Высота">84 Высота</option>
                    <option value="ArtStudio">ArtStudio</option>
                    <option value="Aurinko Бор">Aurinko Бор</option>
                    <option value="Bagatelle">Bagatelle</option>
                    <option value="Cinema">Cinema</option>
                    <option value="Docklands">Docklands</option>
                    <option value="Duderhof club">Duderhof club</option>
                    <option value="Fjord">Fjord</option>
                    <option value="Green City">Green City</option>
                    <option value="GreenЛандия">GreenЛандия</option>
                    <option value="GreenЛандия 2">GreenЛандия 2</option>
                    <option value="Inkeri">Inkeri</option>
                    <option value="IQ Гатчина">IQ Гатчина</option>
                    <option value="Jaanila Country">Jaanila Country</option>
                    <option value="Legenda на Дальневосточном, 12">Legenda на Дальневосточном, 12</option>
                    <option value="Legenda на Комендантском, 58">Legenda на Комендантском, 58</option>
                    <option value="Legenda на Оптиков, 34">Legenda на Оптиков, 34</option>
                    <option value="Legenda на Яхтенной, 24">Legenda на Яхтенной, 24</option>
                    <option value="Leningrad">Leningrad</option>
                    <option value="Life-Приморский">Life-Приморский</option>
                    <option value="Mistola Hills">Mistola Hills</option>
                    <option value="ORANGE">ORANGE</option>
                    <option value="Prime Residence">Prime Residence</option>
                    <option value="Pushkin House">Pushkin House</option>
                    <option value="Riverside">Riverside</option>
                    <option value="Salut">Salut</option>
                    <option value="Stereos">Stereos</option>
                    <option value="Stockholm">Stockholm</option>
                    <option value="Suomi">Suomi</option>
                    <option value="The Residence">The Residence</option>
                    <option value="Time">Time</option>
                    <option value="Ultra City">Ultra City</option>
                    <option value="Verona">Verona</option>
                    <option value="Viva">Viva</option>
                    <option value="Yolkki Village">Yolkki Village</option>
                    <option value="YOUПитер">YOUПитер</option>
                    <option value="Айно">Айно</option>
                    <option value="Александрит">Александрит</option>
                    <option value="Александрия">Александрия</option>
                    <option value="Александровский">Александровский</option>
                    <option value="Алфавит">Алфавит</option>
                    <option value="Альпийская деревня">Альпийская деревня</option>
                    <option value="Амазонка">Амазонка</option>
                    <option value="Английская миля">Английская миля</option>
                    <option value="Аннинский Парк">Аннинский Парк</option>
                    <option value="Апрель">Апрель</option>
                    <option value="Астрид">Астрид</option>
                    <option value="Балканы">Балканы</option>
                    <option value="Барская усадьба">Барская усадьба</option>
                    <option value="Близкое">Близкое</option>
                    <option value="Богатырь-2">Богатырь-2</option>
                    <option value="Богемия">Богемия</option>
                    <option value="Босфор">Босфор</option>
                    <option value="Брусничный">Брусничный</option>
                    <option value="Васильевский о-в 24 линия">Васильевский о-в 24 линия</option>
                    <option value="Вена">Вена</option>
                    <option value="Вернисаж">Вернисаж</option>
                    <option value="Весна">Весна</option>
                    <option value="Весна 2">Весна 2</option>
                    <option value="Весна 3">Весна 3</option>
                    <option value="Витамин">Витамин</option>
                    <option value="Времена года">Времена года</option>
                    <option value="Высота">Высота</option>
                    <option value="Галактика">Галактика</option>
                    <option value="Галант">Галант</option>
                    <option value="Горки Парк">Горки Парк</option>
                    <option value="Город детства">Город детства</option>
                    <option value="Город мастеров">Город мастеров</option>
                    <option value="Гранвиль">Гранвиль</option>
                    <option value="Граф Орлов">Граф Орлов</option>
                    <option value="Графская слобода">Графская слобода</option>
                    <option value="Граффити">Граффити</option>
                    <option value="Девяткино">Девяткино</option>
                    <option value="Девятый Вал">Девятый Вал</option>
                    <option value="Демидовский парк">Демидовский парк</option>
                    <option value="Десяткино">Десяткино</option>
                    <option value="Десяткино 2.0">Десяткино 2.0</option>
                    <option value="Дипломатъ">Дипломатъ</option>
                    <option value="Дом на Выборгской">Дом на Выборгской</option>
                    <option value="Дом на Грота">Дом на Грота</option>
                    <option value="Дом на Дворянской">Дом на Дворянской</option>
                    <option value="Дом на излучине Невы">Дом на излучине Невы</option>
                    <option value="Дом на набережной">Дом на набережной</option>
                    <option value="Дом на Радищева">Дом на Радищева</option>
                    <option value="Дом на Тамбовской">Дом на Тамбовской</option>
                    <option value="Дом на Тухачевского">Дом на Тухачевского</option>
                    <option value="Дом на Фрунзенской">Дом на Фрунзенской</option>
                    <option value="Дом с фонтаном">Дом с фонтаном</option>
                    <option value="Дом у Елагина острова">Дом у Елагина острова</option>
                    <option value="Дом у Разлива">Дом у Разлива</option>
                    <option value="Дом у Ратуши">Дом у Ратуши</option>
                    <option value="Дудергофская линия 3">Дудергофская линия 3</option>
                    <option value="Дюна">Дюна</option>
                    <option value="Европа Сити">Европа Сити</option>
                    <option value="Европейский">Европейский</option>
                    <option value="Екатерининский">Екатерининский</option>
                    <option value="Елагин апарт">Елагин апарт</option>
                    <option value="Жемчужная симфония">Жемчужная симфония</option>
                    <option value="Жемчужный фрегат">Жемчужный фрегат</option>
                    <option value="Живи!В Рыбацком">Живи!В Рыбацком</option>
                    <option value="Звездный">Звездный</option>
                    <option value="Зима-Лето">Зима-Лето</option>
                    <option value="Золотое время">Золотое время</option>
                    <option value="Золотой Век">Золотой Век</option>
                    <option value="Золотые купола">Золотые купола</option>
                    <option value="Ижора парк">Ижора парк</option>
                    <option value="Империал">Империал</option>
                    <option value="Итальянский квартал">Итальянский квартал</option>
                    <option value="Калина-Парк">Калина-Парк</option>
                    <option value="Калина-Парк 2">Калина-Парк 2</option>
                    <option value="Кальтино">Кальтино</option>
                    <option value="Кантеле">Кантеле</option>
                    <option value="Кантемировский">Кантемировский</option>
                    <option value="Капитан Немо">Капитан Немо</option>
                    <option value="Квартет">Квартет</option>
                    <option value="Классика">Классика</option>
                    <option value="КосмосStar">КосмосStar</option>
                    <option value="Краски лета">Краски лета</option>
                    <option value="Кремлевские звезды">Кремлевские звезды</option>
                    <option value="Кудров - Хаус">Кудров - Хаус</option>
                    <option value="Ласточка">Ласточка</option>
                    <option value="Ласточкино Гнездо">Ласточкино Гнездо</option>
                    <option value="Лахта Парк">Лахта Парк</option>
                    <option value="Ленинградская перспектива">Ленинградская перспектива</option>
                    <option value="Ленинградская симфония">Ленинградская симфония</option>
                    <option value="Ленинградские вечера">Ленинградские вечера</option>
                    <option value="Ленинградское Трио">Ленинградское Трио</option>
                    <option value="Линкор">Линкор</option>
                    <option value="Ломоносовъ">Ломоносовъ</option>
                    <option value="Лондон">Лондон</option>
                    <option value="Лондон парк">Лондон парк</option>
                    <option value="Луначарского 40">Луначарского 40</option>
                    <option value="Мариинская усадьба">Мариинская усадьба</option>
                    <option value="Маршал">Маршал</option>
                    <option value="Медалист">Медалист</option>
                    <option value="Медный всадник">Медный всадник</option>
                    <option value="Мелодия">Мелодия</option>
                    <option value="Мироздание">Мироздание</option>
                    <option value="Мозаика">Мозаика</option>
                    <option value="Мой Город">Мой Город</option>
                    <option value="Молодежный">Молодежный</option>
                    <option value="Молодежный квартал">Молодежный квартал</option>
                    <option value="Монополист">Монополист</option>
                    <option value="Морошкино">Морошкино</option>
                    <option value="Москва">Москва</option>
                    <option value="Московские ворота">Московские ворота</option>
                    <option value="Московский квартал">Московский квартал</option>
                    <option value="Московское шоссе 3">Московское шоссе 3</option>
                    <option value="Моя стихия">Моя стихия</option>
                    <option value="Мурино 2017">Мурино 2017</option>
                    <option value="Муринский посад">Муринский посад</option>
                    <option value="На Заречной">На Заречной</option>
                    <option value="На Охте">На Охте</option>
                    <option value="Небо Москвы">Небо Москвы</option>
                    <option value="Невская звезда">Невская звезда</option>
                    <option value="Невские Паруса">Невские Паруса</option>
                    <option value="Неоклассика">Неоклассика</option>
                    <option value="Никольский посад">Никольский посад</option>
                    <option value="Новая Охта">Новая Охта</option>
                    <option value="Новелла">Новелла</option>
                    <option value="Ново-Антропшино">Ново-Антропшино</option>
                    <option value="Новогорелово">Новогорелово</option>
                    <option value="Новое Колпино">Новое Колпино</option>
                    <option value="Новое Мурино">Новое Мурино</option>
                    <option value="Новое Сертолово">Новое Сертолово</option>
                    <option value="Новое Янино">Новое Янино</option>
                    <option value="Новомосковский">Новомосковский</option>
                    <option value="Новоорловский">Новоорловский</option>
                    <option value="Новоселье">Новоселье</option>
                    <option value="Новые горизонты">Новые горизонты</option>
                    <option value="Новый Город">Новый Город</option>
                    <option value="Новый Лиговский">Новый Лиговский</option>
                    <option value="Новый Оккервиль">Новый Оккервиль</option>
                    <option value="Новый Петергоф">Новый Петергоф</option>
                    <option value="Нордика">Нордика</option>
                    <option value="Нью-Тон">Нью-Тон</option>
                    <option value="Образцовый квартал">Образцовый квартал</option>
                    <option value="Озерный">Озерный</option>
                    <option value="Олимп (Колпино)">Олимп (Колпино)</option>
                    <option value="Орбита">Орбита</option>
                    <option value="Охтинская дуга">Охтинская дуга</option>
                    <option value="Палацио">Палацио</option>
                    <option value="Панорама 360">Панорама 360</option>
                    <option value="Парадный квартал">Парадный квартал</option>
                    <option value="Паруса">Паруса</option>
                    <option value="Первомайский">Первомайский</option>
                    <option value="Петр Великий и Екатерина Великая">Петр Великий и Екатерина Великая</option>
                    <option value="Петровская мельница">Петровская мельница</option>
                    <option value="Петровская ривьера">Петровская ривьера</option>
                    <option value="Пифагор">Пифагор</option>
                    <option value="Платинум">Платинум</option>
                    <option value="Победы 5">Победы 5</option>
                    <option value="Подкова">Подкова</option>
                    <option value="Покровское">Покровское</option>
                    <option value="Полежаевский парк">Полежаевский парк</option>
                    <option value="Полюстрово парк">Полюстрово парк</option>
                    <option value="Премьер Палас">Премьер Палас</option>
                    <option value="Прибрежный">Прибрежный</option>
                    <option value="Привилегия">Привилегия</option>
                    <option value="Приневский">Приневский</option>
                    <option value="Просвещения 85">Просвещения 85</option>
                    <option value="Пулковский">Пулковский</option>
                    <option value="Пять звезд">Пять звезд</option>
                    <option value="Радужный">Радужный</option>
                    <option value="Ренессанс">Ренессанс</option>
                    <option value="Речной">Речной</option>
                    <option value="РИО">РИО</option>
                    <option value="Родные берега">Родные берега</option>
                    <option value="Румболово сити">Румболово сити</option>
                    <option value="Русский дом">Русский дом</option>
                    <option value="Рябиновый сад">Рябиновый сад</option>
                    <option value="Самоцветы">Самоцветы</option>
                    <option value="Сандэй">Сандэй</option>
                    <option value="Светлановский">Светлановский</option>
                    <option value="Северная Долина">Северная Долина</option>
                    <option value="Северная палитра">Северная палитра</option>
                    <option value="Северные высоты">Северные высоты</option>
                    <option value="Северный вальс">Северный вальс</option>
                    <option value="Северный простор">Северный простор</option>
                    <option value="Силы природы">Силы природы</option>
                    <option value="Сириус">Сириус</option>
                    <option value="Складская 27-28">Складская 27-28</option>
                    <option value="Славный дом">Славный дом</option>
                    <option value="Смольный парк">Смольный парк</option>
                    <option value="Смольный проспект">Смольный проспект</option>
                    <option value="Собрание">Собрание</option>
                    <option value="Созвездие">Созвездие</option>
                    <option value="Сокол">Сокол</option>
                    <option value="Солнечный">Солнечный</option>
                    <option value="Солнечный город">Солнечный город</option>
                    <option value="Солнечный квартет 2">Солнечный квартет 2</option>
                    <option value="София">София</option>
                    <option value="Старая крепость">Старая крепость</option>
                    <option value="Счастье">Счастье</option>
                    <option value="Территория">Территория</option>
                    <option value="Тойве">Тойве</option>
                    <option value="Три апельсина">Три апельсина</option>
                    <option value="Три ветра">Три ветра</option>
                    <option value="Три Кита">Три Кита</option>
                    <option value="Три Кита-2">Три Кита-2</option>
                    <option value="Три кита-3">Три кита-3</option>
                    <option value="Три медведя">Три медведя</option>
                    <option value="Тридевяткино Царство">Тридевяткино Царство</option>
                    <option value="Трилогия">Трилогия</option>
                    <option value="Триумф Парк">Триумф Парк</option>
                    <option value="Усадьба на Ланском">Усадьба на Ланском</option>
                    <option value="Финские кварталы">Финские кварталы</option>
                    <option value="Фламинго">Фламинго</option>
                    <option value="Форт рыбацкий">Форт рыбацкий</option>
                    <option value="Царская Столица">Царская Столица</option>
                    <option value="Царский двор">Царский двор</option>
                    <option value="Цветной город">Цветной город</option>
                    <option value="Цветы">Цветы</option>
                    <option value="Цивилизация">Цивилизация</option>
                    <option value="Чапаева 16">Чапаева 16</option>
                    <option value="Черничная поляна">Черничная поляна</option>
                    <option value="Четыре горизонта">Четыре горизонта</option>
                    <option value="Чистое Небо">Чистое Небо</option>
                    <option value="Чистый ручей">Чистый ручей</option>
                    <option value="Чудеса света">Чудеса света</option>
                    <option value="Шведские пруды">Шведские пруды</option>
                    <option value="Шерлок Хаус">Шерлок Хаус</option>
                    <option value="Шотландия">Шотландия</option>
                    <option value="Шуваловский">Шуваловский</option>
                    <option value="Шуваловский (NordEst)">Шуваловский (NordEst)</option>
                    <option value="Шуваловский дуэт">Шуваловский дуэт</option>
                    <option value="Шушары">Шушары</option>
                    <option value="Щегловская усадьба">Щегловская усадьба</option>
                    <option value="Экспо Град">Экспо Град</option>
                    <option value="Юбилейный квартал">Юбилейный квартал</option>
                    <option value="Южная акватория">Южная акватория</option>
                    <option value="Юнтолово">Юнтолово</option>
                    <option value="Юттери">Юттери</option>
                    <option value="Янинский каскад">Янинский каскад</option>
                    <option value="Яркий">Яркий</option>
                    <option value="Ярославский 23">Ярославский 23</option>
                    <option value="Ярославский 27">Ярославский 27</option>
                    <option value="Ясно.Янино">Ясно.Янино</option>
                </select>
            </div>
        </div>
        <div class="columns-3">
            <div class="col">
                <div class="small-row">
                    <div class="values-inp large">
                        <span class="title-inp large left">Цена от</span>
                        <label class="ruble">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                    <div class="values-inp small">
                        <span class="title-inp">до</span>
                        <label class="ruble">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                </div>
                <div class="small-row">
                    <div class="values-inp large">
                        <span class="title-inp large left">Цена м<sup>2</sup> от</span>
                        <label class="sq">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                    <div class="values-inp small">
                        <span class="title-inp">до </span>
                        <label class="sq">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="small-row">
                    <div class="values-inp large">
                        <span class="title-inp large">S общ. от</span>
                        <label class="sq">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                    <div class="values-inp small">
                        <span class="title-inp">до</span>
                        <label class="sq">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                </div>
                <div class="small-row">
                    <div class="values-inp large">
                        <span class="title-inp large">S кух. от</span>
                        <label class="sq">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                    <div class="values-inp small">
                        <span class="title-inp">до </span>
                        <label class="sq">
                            <input class="text" type="text" placeholder="" data-vd="numeric">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="small-row">
                    <div class="small-col">
                        <select class="search-box" name="filters-type" placeholder="Тип" data-vd="single-select" multiple="multiple">
                            <option value="1">Тип №1</option>
                            <option value="2">Тип №2</option>
                            <option value="3">Тип №3</option>
                            <option value="4">Тип №4</option>
                            <option value="5">Тип №5</option>
                            <option value="6">Тип №6</option>
                            <option value="7">Тип №7</option>
                        </select>
                    </div>
                    <div class="small-col">
                        <div class="checkbox">
                            <input id="form-balcony" type="checkbox" name="form-balcony"/>
                            <label for="form-balcony">
                                <span class="icon"></span>
                                <span class="text">балкон/лоджия</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="small-row">
                    <button class="button-sky" type="submit">Поиск</button>
                </div>
            </div>
        </div>
    </form>
</div>