<a id="item-modal-trigger" class="popup-with-zoom-anim" href="#item-modal"></a>
<div id="item-modal" class="m_item modal zoom-anim-dialog mfp-hide">
    <div class="header">
        <div class="tabs-item-nav">
            <a href="#">Комплекс</a>
            <a href="#">Недвижимость</a>
            <a class="current" href="#">Вложения</a>
            <a href="#">Ипотека</a>
        </div>
    </div>
    <div class="tabs-item-content">
        <div class="complex tabs-item-block">
            <div class="columns">
                <div class="column">
                    <div class="complex-info">
                        <div class="row">
                            <div class="label">Адрес</div>
                            <div class="value">Оптиков ул, Приморский р-н, Санкт-Петербург</div>
                        </div>
                        <div class="row">
                            <div class="value">Дом: 34, Корп.: 3</div>
                        </div>
                        <div class="row">
                            <div class="label">Метро</div>
                            <div class="value">Комендантский проспект, 10 мин.тр.;</div>
                        </div>
                        <div class="row">
                            <div class="label">Этажей</div>
                            <div class="value">22</div>
                        </div>
                        <div class="row">
                            <div class="label">Тип</div>
                            <div class="value">Многокв. дом, Монолит</div>
                        </div>
                        <div class="row">
                            <div class="label">Класс</div>
                            <div class="value">Комфорт</div>
                        </div>
                    </div>
                    <div class="complex-date">
                        <div class="heading">Информация по срокам строительства</div>
                        <div class="row">
                            <div class="label">Сдача</div>
                            <div class="date">2015 Ноября</div>
                            <div class="status">Сдан</div>
                            <div class="queue">
                                <div class="value">1</div>
                                <div class="label">Очередь</div>
                            </div>
                        </div>
                    </div>
                    <div class="complex-author">
                        <div class="row">
                            <div class="label large">Застройщик</div>
                            <div class="value">Legenda</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="complex-article">
                        <p>Жилой комплекс "Legenda на Оптиков, 34"
                        строится компания LEGENDA Intelligent
                        Development на углу улиц Яхтенная и Оптиков.
                        Многоэтажное кирпично-монолитное здание
                        состоит из 4 корпусов разной этажности –
                        от 11 до 22. Фасады дома выполнены в ярких
                        цветах с применением
                        навесных вентилируемых фасадов. Со стороны
                        улиц на первых двух этажах запроектированы
                        коммерческие помещения с остекленными
                        витринами и отдельными входами.
                        Застройщиком было применено панорамное
                        остекление большинства окон и балконов,
                        что должно обеспечить полноценный режим
                        инсоляции в помещениях.</p>
                        <p>Было запроектировано 787 смарт-квартир по
                        европейскому образцу планировок.
                        Небольшие по площади кухни соединены с
                        гостиными, предоставляется возможность
                        выбора квартир с одной, двумя или тремя
                        спальнями. Благодаря тому, что внутри квартир
                        нет несущих стен, жильцам предоставляется
                        возможность свободной перепланировки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="estate tabs-item-block">
            <div class="details">
                <div class="columns">
                    <div class="column">
                        <div class="row">
                            <div class="label large">Застройщик</div>
                            <div class="value">Legenda</div>
                        </div>
                        <div class="row">
                            <div class="label">Дом:</div>
                            <div class="value">Дом: 34, Корп.:3, Уч. 4</div>
                        </div>
                        <div class="row">
                            <div class="small-column">
                                <div class="label">№:</div>
                                <div class="value">376</div>
                            </div>
                            <div class="small-column">
                                <div class="label">Статус:</div>
                                <div class="value">В продаже</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-column">
                                <div class="label">Тип:</div>
                                <div class="value">Студия</div>
                            </div>
                            <div class="small-column">
                                <div class="label">Подъезд:</div>
                                <div class="value">1</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-column">
                                <div class="label">Этаж:</div>
                                <div class="value">5</div>
                            </div>
                            <div class="small-column">
                                <div class="label">Высота:</div>
                                <div class="value">2.7</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-column">
                                <div class="label">Отделка:</div>
                                <div class="value">чистовая</div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="layout">
                            <div class="layout-item-nav">
                                <a class="current" href="#">Планировка квартиры</a>
                                <a href="#">План этажа</a>
                            </div>
                            <div class="layout-item-content">
                                <div class="current layout-item-block">
                                    <img src="../images/content/scheme-1.png" alt="">
                                </div>
                                <div class="layout-item-block">
                                    <img src="../images/content/scheme-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="squares">
                <div class="heading">Площадь</div>
                <div class="columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">Общая</div>
                            <div class="value">28.9</div>
                        </div>
                        <div class="row">
                            <div class="label">Кухни</div>
                            <div class="value">21</div>
                        </div>
                        <div class="row">
                            <div class="label">Коридора</div>
                            <div class="value">3.9</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">Комнат</div>
                            <div class="value">21</div>
                        </div>
                        <div class="row">
                            <div class="label">Балкона</div>
                            <div class="value">0</div>
                        </div>
                        <div class="row">
                            <div class="label">Санузла</div>
                            <div class="value">3.9</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">Участка</div>
                            <div class="value">0</div>
                        </div>
                        <div class="row">
                            <div class="label">Прочего</div>
                            <div class="value">0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="estate-tabs">
                <div class="estate-tabs-item-nav">
                    <a class="current" href="#">Оплата</a>
                    <a href="#">Акции и скидки</a>
                    <a href="#">Способы оплаты</a>
                    <a href="#">Прочее</a>
                </div>
                <div class="estate-tabs-item-content">
                    <div class="current estate-tabs-item-block">
                        <div class="payed">
                            <div class="row">
                                <div class="col">
                                    <div class="label">Цена м<sup>2</sup></div>
                                    <div class="value">143 108</div>
                                </div>
                                <div class="col">
                                    <div class="label">Стоимость</div>
                                    <div class="value">4 132 832</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="bonus">При 100% опл.</div>
                                </div>
                                <div class="col">
                                    <div class="label">Цена м<sup>2</sup></div>
                                    <div class="value">143 108</div>
                                </div>
                                <div class="col">
                                    <div class="label">Стоимость</div>
                                    <div class="value">4 132 832</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="label">Скидка</div>
                                    <div class="value">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="estate-tabs-item-block">
                        <div class="variant-payed">
                            <div class="columns">
                                <div class="column">
                                    <div class="row">
                                        <div class="label">Мат. капитал</div>
                                        <div class="value">да</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Субсидии</div>
                                        <div class="value">нет</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Ипотека</div>
                                        <div class="value">да</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="row">
                                        <div class="label">Военная ипотека</div>
                                        <div class="value">нет</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Рассрочка до</div>
                                        <div class="value">21 января 2017 г.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="estate-tabs-item-block">
                        <div class="variant-payed">
                            <div class="columns">
                                <div class="column">
                                    <div class="row">
                                        <div class="label">Мат. капитал</div>
                                        <div class="value">да</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Субсидии</div>
                                        <div class="value">нет</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Ипотека</div>
                                        <div class="value">да</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="row">
                                        <div class="label">Военная ипотека</div>
                                        <div class="value">нет</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Рассрочка до</div>
                                        <div class="value">21 января 2017 г.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="estate-tabs-item-block">
                        <div class="stuff">
                            <div class="columns">
                                <div class="column">
                                    <div class="row">
                                        <div class="label">Вариант</div>
                                        <div class="value">Квартира от застройщика</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Управляющий</div>
                                        <div class="value">Фамилия И. О.</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="row"><div class="label">&nbsp;</div></div>
                                    <div class="row">
                                        <div class="label">Дата создания</div>
                                        <div class="value">21 января 2017 года</div>
                                    </div>
                                    <div class="row">
                                        <div class="label">Дата обновления</div>
                                        <div class="value">21 января 2017 года</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="current investments tabs-item-block">
            <div id="jstree">
                <ul>
                  <li>Описание и фото
                    <ul>
                      <li data-jstree='{"icon":"../images/pdf.png"}'>Чистовая.pdf</li>
                      <li data-jstree='{"icon":"../images/xlsx.png"}'>Предчистовая.xlsx</li>
                      <li data-jstree='{"icon":"../images/doc.png"}'>Черновая.doc</li>
                    </ul>
                  </li>
                  <li>Документация
                    <ul>
                      <li data-jstree='{"icon":"../images/pdf.png"}'>Чистовая.pdf</li>
                      <li data-jstree='{"icon":"../images/xlsx.png"}'>Предчистовая.xlsx</li>
                      <li data-jstree='{"icon":"../images/doc.png"}'>Черновая.doc</li>
                    </ul>
                  </li>
                  <li>Регламенты
                    <ul>
                      <li data-jstree='{"icon":"../images/pdf.png"}'>Чистовая.pdf</li>
                      <li data-jstree='{"icon":"../images/xlsx.png"}'>Предчистовая.xlsx</li>
                      <li data-jstree='{"icon":"../images/doc.png"}'>Черновая.doc</li>
                    </ul>
                  </li>
                  <li>Планировка этажей
                    <ul>
                      <li data-jstree='{"icon":"../images/pdf.png"}'>Чистовая.pdf</li>
                      <li data-jstree='{"icon":"../images/xlsx.png"}'>Предчистовая.xlsx</li>
                      <li data-jstree='{"icon":"../images/doc.png"}'>Черновая.doc</li>
                    </ul>
                  </li>
                  <li>Планировка
                    <ul>
                      <li data-jstree='{"icon":"../images/pdf.png"}'>Чистовая.pdf</li>
                      <li data-jstree='{"icon":"../images/xlsx.png"}'>Предчистовая.xlsx</li>
                      <li data-jstree='{"icon":"../images/doc.png"}'>Черновая.doc</li>
                    </ul>
                  </li>
                  <li data-jstree='{"disabled":true}'>Планировка этажа</li>
                  <li>Варианты отделки
                    <ul>
                      <li data-jstree='{"icon":"../images/pdf.png"}'>Чистовая.pdf</li>
                      <li data-jstree='{"icon":"../images/xlsx.png"}'>Предчистовая.xlsx</li>
                      <li data-jstree='{"icon":"../images/doc.png"}'>Черновая.doc</li>
                    </ul>
                  </li>
                </ul>
              </div>
        </div>
        <div class="mortgage tabs-item-block">
            <div class="list">
                <div class="image">
                    <img src="../images/content/partners/1.png" alt="">
                </div>
                <div class="image">
                    <img src="../images/content/partners/2.png" alt="">
                </div>
                <div class="image">
                    <img src="../images/content/partners/3.png" alt="">
                </div>
                <div class="image">
                    <img src="../images/content/partners/4.png" alt="">
                </div>
                <div class="image">
                    <img src="../images/content/partners/5.png" alt="">
                </div>
                <div class="image">
                    <img src="../images/content/partners/6.png" alt="">
                </div>
            </div>
            <div class="mortgage-bonus">
                <p>Вы можете воспользоваться бесплатными услугами нашего ипотечного менеджера.</p>
                <div class="name">Здорина Марина Валентиновна</div>
                <div class="tel">тел. +7 962-708-44-68</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <div class="top">
                <div class="pdf">
                    <a href="#" class="button-gray small">Скачать в PDF</a>
                </div>
                <div class="print">
                    <a href="#"></a>
                </div>
            </div>
            <div class="bottom">
                <div class="reserve">
                    <a href="#" class="button-gray small">Регламент бронирования</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="submit">
                <a href="#" class="button-sky small">Отправить заявку на бронирование</a>
            </div>
            <div class="cancel">
                <a href="#" class="button-gray small">Отмена</a>
            </div>
        </div>
    </div>
</div>